* {

    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary-color: blue;
    --secondary-color: #454545;
    --tetiary-color: white;
    --optional-color: black;
}

body {
    font-family: "Poppins", sans-serif;
    background: url(p1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.name {
    float: left;
    font-size: small;
    color: var(--optional-color);
}

nav {
    float: right;
}

li {
    display: inline-block;
    list-style-type: none;
}

a {
    list-style-type: none;
    margin: 5px;
    text-decoration: none;
    color: var(--tetiary-color);
}

header::after {
    content: "";
    display: table;
    clear: both;
}

header {
    background: var(--primary-color);
    height: 60px;
}

.profile {
    width: 300px;
    height: 250px;
    background: var(--secondary-color);
    border-radius: 8px;
    margin-top: 90px;
    margin-left: 23px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.avatar {
    width: 100px;
    height: 100px;
    transform: translateX(50%);
    position: relative;
    left: 50px;
    top: -45px;

}

.body {
    font-size: small;
    position: relative;
    bottom: 13px;
    text-align: center;
    color: var(--tetiary-color);
}

.job-title {
    color: var(--tetiary-color);
}

.footer {
    float: right;
}

footer {
    font-family: "Poppins", sans-serif;
    margin-left: 5px;
}

h2 {
    color: var(--tetiary-color);
}

.developer {
    color: var(--primary-color);
}

.self-intro {
    margin-left: 8px;
}

.info {
    margin-left: 5px;
    width: 100vw;

}

.instagram {
    color: hotpink;
}

.facebook {
    color: blue;
}

.twitter {
    color: black;
}

.youtube {
    color: red;
}

.final {
    color: orange;
    font-size: large;
}

.true {
    color: var(--tetiary-color);
}

button {
    padding: 8px 16px;
    font-size: large;
    font-weight: bold;
    border-radius: 8px;
    position: relative;
    left: 70px;
    background: aqua;
    box-shadow: 0 0 10px blue;
    cursor: pointer;
}

@media (min-width:330px) and (max-width:360px) {
    a {
        font-size: small;
    }
}

@media (min-width:359px) and (max-width:390px) {
    a {
        font-size: small;
    }
}

@media (min-width:360px) and (max-width:480px) {}

@media (min-width:480px) and (max-width:768px) {}

@media (min-width:767px) and (max-width:1024px) {
    .profile {
        width: 500px;
        margin-left: 150px;

    }

    .avatar {
        left: 160px;
    }

    footer {
        margin-left: 137px;
    }

    button {
        box-shadow: none;
    }
}

@media (min-width:1025px) and (max-width:1200px) {}

@media (min-width:1201px) and (max-width:1300px) {
    .profile {
        width: 500px;
        margin-left: 300px;
    }

    .avatar {
        left: 180px;
    }

    footer {
        margin-left: 280px;
    }



}