:root {
    --primary-color: red;
    --secondary-color: white;
    --neutral-color: #454545;
    --background-color: lightskyblue;
    --tetiary-color: orange;
    --optional-color: blue;
}

body {

    height: 100vh;
    background: url(tech-background\ svg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Poppins", sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
}

li {
    display: inline-block;
    margin: 18px;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

header {
    background: var(--optional-color);
    height: 50px;
}

@media (min-width:400px) and (max-width:479px) {
    li {
        margin: 24px;
    }
}

@media (min-width:580px) and (max-width:769px) {
    li {
        margin: 40px;
        padding-right: 50px;
    }

    header {
        height: 70px;
    }

}

@media (min-width:480) and (max-width:580) {
    li {
        margin: 45px;
        padding-right: 40px;
    }
}

@media (min-width:300px) and (max-width:350px) {
    li {
        margin: 10px;
        padding-right: 10px;
    }
}

@media (min-width:800px) and (max-width:1024px) {
    li {
        margin: 50px;
        padding-right: 50px;
    }

    header {
        height: 85px;
    }
}

@media (min-width:1000px) and (max-width:1025px) {
    li {
        padding-right: 100px;
    }
}

@media (min-width:1030px) and (max-width:1280px) {
    li {
        margin: 60px;
        padding-right: 120px;
    }

    header {
        height: 100px;
    }
}

@media (min-width:539px) and (max-width:541px) {
    li {
        margin: 40px;
        padding-right: 1px;
    }

    header {
        height: 65px;
    }
}