* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #50c878;
    --tetiary-color: #39ff14;
    --optional-color: #32cd32;
    --background-color: black;
}

body {
    background: var(--background-color);
}

header {
    font-family: "Poppins", sans-serif;
}

#icon {

    float: left;
    font-size: small;
    text-transform: uppercase;
}

nav {
    float: right;
    font-size: small;
    color: var(--primary-color);
}

li {
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: small;
    margin: 5px;
}

li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: var(--optional-color);
    transition: width 0.5s linear;
}

li:hover::after {
    width: 100%;
    cursor: pointer;
}




#Fithub {
    color: var(--primary-color);
}

#Gym {
    color: var(--tetiary-color);
}


#image-1 {
    width: 450px;
    height: 360px;
}

main {
    font-family: "Poppins", sans-serif;
}

#intro {
    color: var(--secondary-color);
    font-size: 45px;
}

.enter {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 40px;
}

.enter-2 {
    color: var(--optional-color);
    text-transform: uppercase;
}

button {
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 25px;
    border-radius: 10px;
    border-color: var(--background-color);
    position: relative;
    left: 30px;
    margin-top: 5px;
    background: var(--secondary-color);
    font-family: "Poppins", sans-serif;
}




@media (min-width:300px) and (max-width:350px) {
    a {
        margin: 3px;
    }
}

@media (min-width:361px) and (max-width:480px) {}

@media (min-width:400px) and (max-width:477px) {
    a {
        margin: 9px;
    }

    .second-heading {


        margin-left: 70px;
    }

    .about-headings {

        margin-right: 50px;
    }

    .untitled {
        margin-right: 50px;
    }

    .grid-heading {
        color: var(--primary-color);
        margin-left: 70px;
    }

    .grid-item {
        margin-left: 20px;
    }




}

@media (min-width:500px) and (max-width:768px) {
    a {
        margin: 13px;
    }

    #image-1 {
        width: 600px;
        height: 500px;
    }

    .intro {
        font-size: 55px;
    }

    .enter {
        font-size: 40px;
    }

    .second-heading {


        margin-left: 83px;
    }

    .about-headings {

        margin-right: 50px;
    }

    .untitled {
        margin-right: 50px;
    }

}

@media (min-width:480px) and (max-width:768px) {}

@media (min-width:767px) and (max-width:1024px) {
    a {
        margin: 18px;
    }

    #image-1 {
        width: 850px;
        height: 550px;
    }

    .intro {
        font-size: 60px;
    }

    .enter {
        font-size: 45px;
    }

    .second-heading {


        margin-left: 130px;
    }

    .video-container {
        border: 3px solid black;
        height: 260px;
        display: grid;
        grid-template-columns: 350px 400px;
    }

    .video-div-1 {
        margin-left: 8px;

        margin-top: 20px;
        width: 500px;
        height: 300px;
    }

    .item-1 {
        border: 3px solid green;
    }

    .about-headings {
        display: inline-block;
    }

    .first-video-div-2 {
        display: grid;
        border: 3px solid black;
        grid-template-columns: 350px 400px;
    }

    .item-2 {
        border: 3px solid black;
    }

    .untitled {
        margin-left: 100px;
        color: var(--secondary-color);
    }


}

button:hover {
    box-shadow: 0 0 10px var(--tetiary-color);
    cursor: pointer;
}

.container-2 {
    margin-top: 50px;
    border: 3px solid white;
    width: 100vw;
    height: 1000px;
    background: var(--primary-color);
}

.first-word {
    color: var(--tetiary-color);
}

.second-heading {
    color: var(--background-color);
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
    text-align: center;
    transform: translateX(50%);
}

.second-heading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: var(--secondary-color);
    transition: width 0.5s linear;

}

.second-heading:hover::after {
    width: 100%;
    cursor: pointer;
}


.video-div-1 {
    width: 265px;
    height: 183px;
    border: 3px solid lightgray;
    margin-bottom: 10px;
    transform: translateX(34px);

}

video {
    width: 250px;
    height: 200px;
    transform: translateY(-35px);
    position: relative;
    left: 4px;
    float: left;
    top: 8px;

}

.video-container {
    margin-top: 20px;
    grid-template-columns: 1fr;
    border: 3px solid black;
    grid-template-rows: 200px 200px;
}

.item-1 {
    border: 3px solid green;
}

.about-headings {
    color: var(--secondary-color);
    display: inline-block;
    position: relative;
    bottom: 20px;
    transform: translateX(60%);


}

p {
    text-align: center;
}

.first-video-div-2 {
    width: 100vw;
    grid-template-columns: 1fr;
    border: 3px solid black;
    grid-template-rows: 200px 200px;
}


.video-div-2 {
    width: 265px;
    height: 165px;
    border: 3px solid lightgray;
    margin-bottom: 10px;
    margin-top: 15px;
    transform: translateX(34px);

}

.untitled {
    color: var(--secondary-color);
    display: inline-block;
    position: relative;
    bottom: 20px;
    transform: translateX(60%);

}

.video-2 {
    height: 150px;
    width: 250px;
    margin-top: 30px;

}

.item-2 {
    border: 3px solid orange;
}

.grid-heading {
    color: var(--primary-color);
    transform: translateX(30px);
}

.sub-grid-heading {
    color: var(--secondary-color);
}

.grid-container {
    display: grid;
    width: 100vh;
    height: 1400px;
    border: 3px solid red;
    grid-template-columns: 400px;
    grid-template-rows: 230px 230px 230px 230px 230px 230px 230px;

}

.grid-item {
    border: 2px solid var(--tetiary-color);
    border-radius: 8px;
    margin-bottom: 15px;

}

.grid-item:hover {
    box-shadow: 0 0 10px var(--optional-color);
    cursor: pointer;
    transform: perspective(200px) translateZ(20px);
}

.coach {
    width: 50px;
    transform: translateX(140px);
}

.services {
    color: var(--primary-color);
    text-align: center;
}

.service-text {
    color: var(--primary-color);
    position: relative;
    right: 13px;
}

.special-class {
    width: 50px;
    transform: translateX(140px);
}

.group-classes {
    width: 50px;
    transform: translateX(140px);
}

.personal-locker {
    width: 50px;
    transform: translateX(140px);
}

.swimming-pool {
    width: 50px;
    transform: translateX(140px);
}

.cash-icon {
    width: 50px;
    transform: translateX(140px);
}

.trainers {
    color: var(--primary-color);
    transform: translateX(80px);
}

.card-1 {
    width: 300px;
    height: 300px;
    border: 2px solid lightgray;
    margin-left: 40px;
    margin-bottom: 10px;
}

.card-inner-1 {
    width: 100%;
    height: 100%;
    position: relative;
}

.front-1 {
    width: 100%;
    height: 100%;
    background: url(Project-2/personal-trainer-5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-position: center;
    border-radius: 3px;
}

.card-2 {
    width: 300px;
    height: 300px;
    border: 2px solid #d3d3d3;
    margin-left: 40px;
    margin-bottom: 10px;
}

.card-inner-2 {
    width: 100%;
    height: 100%;
    position: relative;
}

.front-2 {
    width: 100%;
    height: 100%;
    background: url(Project-2/personal-trainer-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-position: center;
    border-radius: 3px;
}

.card-3 {
    width: 300px;
    height: 300px;
    border: 2px solid lightgray;
    margin-left: 40px;

}

.card-inner-3 {
    width: 100%;
    height: 100%;
    position: relative;
}

.front-3 {
    width: 100%;
    height: 100%;
    background: url(Project-2/personal-trainer-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-position: center;
    border-radius: 3px;

}

@media (min-width:1024px) and (max-width:1200px) {
    a {
        margin: 20px;
    }

    #image-1 {
        width: 1300px;
        height: 650px;
    }

    .intro {
        font-size: 500px;
    }

    .enter {
        font-size: 45px;
    }
}

@media (min-width:1205px) and (max-width:1280px) {
    a {
        margin: 20px;
    }

    #image-1 {
        width: 900px;
        height: 550px;
    }

    .intro {
        font-size: 60px;
    }

    .enter {
        font-size: 45px;
    }



    .video-container {
        border: 3px solid black;
        height: 260px;
        display: grid;
        grid-template-columns: 550px 400px;
    }



    .item-1 {
        border: 3px solid green;
    }

    .about-headings {
        display: inline-block;
    }

    .first-video-div-2 {
        display: grid;
        border: 3px solid black;
        grid-template-columns: 550px 400px;
    }

    .item-2 {
        border: 3px solid black;
    }

    .untitled {
        margin-left: 100px;
        color: var(--secondary-color);
    }

    .grid-heading {
        position: relative;
        left: 500px;
    }

    .grid-container {
        grid-template-columns: 370px 370px 370px;
        grid-template-rows: 300px 300px;
        grid-column-gap: 100px;
    }

    .grid-item {
        margin-bottom: 15px;
        margin-right: 15px;
    }

}

@media (min-width:1281px) and (min-width:3000px) {
    a {
        margin: 25px;
    }

    #image-1 {
        width: 800px;
        height: 550px;
    }

    .intro {
        font-size: 60px;
    }

    .enter {
        font-size: 45px;
    }

}



@media (min-width:899px) and (max-width:1024px) {
    .video-container {
        border: 3px solid black;
        height: 260px;
        display: grid;
        grid-template-columns: 430px 450px;
    }

    .video-div-1 {
        margin-left: 8px;

        margin-top: 20px;
        width: 265px;
        height: 183px;
    }

    .item-1 {
        border: 3px solid green;
    }

    .about-headings {
        display: inline-block;
    }

    .first-video-div-2 {
        display: grid;
        border: 3px solid black;
        grid-template-columns: 430px 450px;
    }

    .item-2 {
        border: 3px solid black;
    }

    .untitled {
        margin-left: 200px;
        color: var(--secondary-color);
    }

    .second-heading {
        transform: translateX(250px);
    }

    .grid-heading {
        position: relative;
        left: 300px;
    }

    .grid-container {
        grid-template-columns: 370px 370px;
        grid-template-rows: 300px 300px 300px;
        grid-column-gap: 140px;
    }

    .grid-item {
        margin-bottom: 15px;
        margin-right: 15px;
    }

    .trainers {
        position: relative;
        left: 280px;
    }

    .grid-heading {
        position: relative;
        left: 200px;
    }

    .grid-container {
        grid-template-columns: 380px 380px;
        grid-template-rows: 300px 300px 300px;
        grid-column-gap: 25px;
    }

    .grid-item {
        margin-bottom: 15px;
    }

    .card-container {
        border: 3px solid white;

    }

    .card-1,
    .card-2,
    .card-3 {
        width: 250px;
        position: relative;
        left: 280px;
    }

}

@media (min-width:800px) and (max-width:890px) {
    .video-container {
        border: 3px solid black;
        height: 260px;
        display: grid;
        grid-template-columns: 430px 450px;
    }

    .video-div-1 {
        margin-left: 8px;

        margin-top: 20px;
        width: 265px;
        height: 183px;
    }

    .item-1 {
        border: 3px solid green;
    }

    .about-headings {
        display: inline-block;
    }

    .first-video-div-2 {
        display: grid;
        border: 3px solid black;
        grid-template-columns: 430px 450px;
    }

    .item-2 {
        border: 3px solid black;
    }

    .untitled {
        margin-left: 120px;
        color: var(--secondary-color);
    }

    .second-heading {
        transform: translateX(250px);
    }

    .grid-heading {
        position: relative;
        left: 200px;
    }

    .grid-container {
        grid-template-columns: 380px 380px;
        grid-template-rows: 300px 300px 300px;
        grid-column-gap: 25px;
    }

    .grid-item {
        margin-bottom: 15px;
    }

    .trainers {
        position: relative;
        left: 280px;
    }

    .grid-heading {
        position: relative;
        left: 200px;
    }

    .grid-container {
        grid-template-columns: 380px 380px;
        grid-template-rows: 300px 300px 300px;
        grid-column-gap: 25px;
    }

    .grid-item {
        margin-bottom: 15px;
    }

    .card-container {
        border: 3px solid white;

    }

    .card-1,
    .card-2,
    .card-3 {
        width: 250px;
        position: relative;
        left: 280px;
    }


}

@media (min-width:760px) and (max-width:790px) {
    .video-container {
        border: 3px solid black;
        height: 260px;
        display: grid;
        grid-template-columns: 380px 380px;
    }

    .video-div-1 {
        margin-left: 8px;

        margin-top: 20px;
        width: 265px;
        height: 183px;
    }

    .item-1 {
        border: 3px solid green;
    }

    .about-headings {
        display: inline-block;
    }

    .first-video-div-2 {
        display: grid;
        border: 3px solid black;
        grid-template-columns: 380px 380px;
    }

    .item-2 {
        border: 3px solid black;
    }

    .untitled {
        margin-left: 118px;
        color: var(--secondary-color);
    }

    .second-heading {
        transform: translateX(250px);
    }
}

@media (min-width:539px) and (max-width:541px) {
    .video-div-2 {
        transform: translateX(130px);
    }

    .video-div-1 {
        transform: translateX(130px);
    }

    .untitled {
        position: relative;
        right: 90px;
    }

    .about-headings {
        position: relative;
        right: 100px;
    }

    p {
        text-align: center;
    }
}

@media (min-width:480px) and (max-width:680px) {
    .video-div-2 {
        transform: translateX(130px);
    }

    .video-div-1 {
        transform: translateX(130px);
    }

    .untitled {
        position: relative;
        right: 90px;
    }

    .about-headings {
        position: relative;
        right: 100px;
    }

    p {
        text-align: center;
    }

    .grid-heading {
        color: var(--primary-color);
        margin-left: 70px;
    }

    .grid-item {
        margin-left: 30px;

    }
}

@media (min-width:819px) and (max-width:821px) {
    .trainers {
        position: relative;
        left: 280px;
    }

    .grid-heading {
        position: relative;
        left: 200px;
    }

    .grid-container {
        grid-template-columns: 380px 380px;
        grid-template-rows: 300px 300px 300px;
        grid-column-gap: 25px;
    }

    .grid-item {
        margin-bottom: 15px;
    }

    .card-container {
        border: 3px solid white;

    }

    .card-1,
    .card-2,
    .card-3 {
        width: 250px;
        position: relative;
        left: 280px;
    }
}