body {
    background: linear-gradient(135deg, #f5ceec, #e0c3fc);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 500px;
    width: 90%;
    background: rgb(255, 255, 255, 0.3);
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 2rem;
    padding: 30px;
    margin: auto;
}

button {
    background: rgb(238, 114, 135);
    font-size: 2rem;
    border-radius: 5px;
    border: none;
    padding: 15px;
    cursor: pointer;
    color: #ffffff;
    box-shadow: 0 0 20px rgb(238, 99, 122);
    transition: background 0.5s ease-in-out;
}

button:hover {
    background: rgb(248, 29, 65);
}

h1 {
    color: rgb(228, 45, 75);
}

#Face-Result img {
    width: 180px;
    margin: 1px;
    border-radius: 3px;
}