body {
    background: linear-gradient(135deg, #f5ceec, #e0c3fc);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 500px;
    width: 90%;
    background: rgb(255, 255, 255, 0.3);
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    font-size: 2rem;
}

button {
    background-color: rgb(251, 82, 110);
    cursor: pointer;
    font-size: 2rem;
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: #ffffff;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: rgb(245, 31, 66);
}

#Emoji-Result img {
    width: 150px;
    margin-bottom: 10px;
}