body {
    background: #fff8f0;
    font-family: "IBM Plex Sans", sans-serif;
    text-align: center;
}

.container {
    margin: auto;
    max-width: 450px;
    width: 90%;
    background: rgb(255, 255, 255, 0.3);
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.1);
    padding: 30px;
    filter: blur(0.3px);
    border-radius: 8px;
    text-align: center;
    font-size: 2rem;
}

input {
    text-align: center;
    font-size: 1rem;
    padding: 5px 5px;
}

button {
    font-size: 1.5rem;
    padding: 8px 15px;
    border-radius: 5px;
    background: rgb(103, 103, 250);
    border: none;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background: rgb(56, 56, 246);
}

#emoji-result img {
    width: 150px;
    margin: 3px;
    margin: auto;
}

#emoji-result {
    width: 600px;
    margin: auto;
}